<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <h2>Bem-vindo 🎉</h2>
    <p>Login realizado com sucesso!</p>
    <button id="logout">Sair</button>
  </div>

  <script>
    // Verifica login
    // const user = localStorage.getItem("usuario");
    // if (!user) {
    //   window.location.href = "/";
    // }

    fetch("/api/algo", {
  headers: { Authorization: `Bearer ${localStorage.getItem("token")}` }
}).then(res => {
  if (res.status === 401 || res.status === 403) {
    localStorage.removeItem("token");
    window.location.href = "/";
  }
});


  document.getElementById("logout").addEventListener("click", async () => {
    await fetch("/api/logout", { method: "POST", credentials: "include" });
    window.location.href = "/";
  
    });

(async () => {
  const res = await fetch("/api/midias/buscar/matrix", {
    method: "GET",
    credentials: "include"
  });

  console.log("Headers enviados:", [...res.headers.entries()]);
})();


    
  </script>
</body>
</html>
